/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

#list div.km-content {
    background: #fcfcfc;
}

#my-list {
    border: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 0, 0, 0.1);
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4) );
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Portrait layout (default) */
.app {
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

    .event.listening {
        background-color: #333333;
        display: block;
    }

    .event.received {
        background-color: #4B946A;
        display: none;
    }

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.prod-list-item-image {
    width: 20%;
    float: left;
}

    .prod-list-item-image img {
        width: 100%;
    }

.prod-list-item-details {
    padding-left: 20%;
    margin-left: 8px;
}

.label-button {
    padding-top: .5em;
    margin-top: .1rem;
}

.relative {
    position: relative !important;
}

.align-center {
    text-align: center;
}
.amount-label-width {
    width: 140px !important;
}
.amount-width {
    width: 110px !important;
}

.width-50 {
    width: 50px !important;
    min-width: 50px !important;
}

.width-130 {
    width: 130px;
}

label {
    font-weight: bold;
    float: left;
    display: block;
    margin-right: 5px;
}

.label {
    font-weight: bold;
}

.inline {
    display: inline-block;
}

.currency {
    text-align: right;
}

    .currency:before {
        content: "$";
        margin-right:-3px;
    }

.k-invalid-msg {
    color: red;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

#prodDetailImageView li {
    width: 4em;
    height: 4em;
    float: left;
}

#prodDetailImageView img {
    width: 100%;
}

.font-smaller {
    font-size: smaller !important;
}

.link, .link-active, .link-disable {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: normal !important;
}

.link {
    color: #247bbd !important;
}

.link-active {
    font-weight: bold !important;
}

.placeholder {
    font-style: italic !important;
    opacity: 0.8 !important;
}

#map-canvas {
    position: absolute;
    padding: 0;
}

.k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg {
    float: left;
    width: 100%;
}

.border-1 {
    border: solid 1px !important;
}

.ui-block-a {
    padding-right: 15px !important;
}

ul.header {
    margin-bottom: -15px !important;
}

    ul.header li, li.header, .km-collapsible-header {
        background-color: lightgray !important;
    }

.km-navbar {
    border-width: 1px 0 !important;
}

.km-horizontal .km-view-title, .km-view-title, .km-dialog-title {
    line-height: 3.2em !important;
}

.km-flat .km-navbar {
    border-top: 1px solid rgba(0,0,0,0.3);
}

.scan-button {
    float: right;
    width: 75px;
    margin-right: 15px;
    margin-top: 14px;
    z-index:1000;
}

    .scan-button ~ .km-listview-wrapper .km-filter-form {
        padding-right: 80px !important;
    }

.km-collapsible {
    margin: 1em !important;
}

.km-collapsible-header {
    padding: .5em .7em;
    border-width: 1px;
    border-radius: 3px;
    overflow: hidden;
}

.padding-0, .padding-0 .km-collapsible-content {
    padding: 0 !important;
}

.item-details {
    position: absolute;
    top: .5em;
    right: .7em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.spin-button {
    padding: .5em 3px .5em 5px !important;
}
.spin-button-left{
    margin-right: -3px !important;
}
.spin-button-right{
    margin-left: -3px !important;
}
.km-view-title{
    font-size: 1em; 
    font-weight: bold;
}

