<!-- List view -->

<div id="customerList"
     data-role="view"
     data-style="inset"
     data-layout="back-layout"
     data-init="app.viewModels.customerListViewModel.onInit"
     data-show="app.viewModels.customerListViewModel.onBeforeShow"
     data-model="app.viewModels.customerListViewModel">
    <ul id="customerListView"
        data-role="listview" data-style="inset"></ul>

    <div style="text-align:center">
        <button data-role="button" id="loadMore" data-bind="click: loadMore, visible: moreRecords">Load More</button>
    </div>

    <div id="pager" class="k-pager-wrap"></div>
    <script type="text/x-kendo-template" id="customerListTemplate">
        <div style="margin-top:8px; margin-right: 8px"><b>Customer ID: </b>#: Cust_Id #</div>
        <div><b>Search Name: </b>#: SearchName #</div>
        <div>
            <button class="float-right" type="button" data-role="button" name="change-customer">Change to this customer</button>
        </div>
    </script>

</div>





