<!-- List view -->

<div id="customerList"
     data-role="view"
     data-style="inset"
     data-init="app.viewModels.customerListViewModel.onInit"
     data-show="app.viewModels.customerListViewModel.onBeforeShow"
     data-model="app.viewModels.customerListViewModel">
    <ul id="customerListView"
        data-role="listview" data-style="inset"></ul>

    <div style="text-align:center">
        <button data-role="button" id="loadMore" data-bind="click: loadMore, visible: moreRecords">Load More</button>
    </div>

    <div id="pager" class="k-pager-wrap"></div>
    <script type="text/x-kendo-template" id="customerListTemplate">
        <div class="ui-grid-b ui-responsive">
            <div class="ui-block-a">
                <div class="label">Customer ID: </div>#: Cust_Id #
            </div>
            <div class="ui-block-b">
                <div class="label">Search Name: </div>#: SearchName #
            </div>
            <div class="ui-block-c">
                <button class="fa float-right" type="button" data-role="button" 
                        name="change-customer" data-icon="fa-check">Change</button>
            </div>
        </div>
        <div class="ui-grid-b ui-responsive">
            <div class="ui-block-a">
                <div class="label">Full Name: </div>#: Name #
            </div>
            <div class="ui-block-b">
                <label>Address: </label>
                <button class="link" style="text-align:left" type="button" data-role="button" name="directions">
                    #: FormattedAddress #
                </button>

            </div>
            <div class="ui-block-c">
            </div>
        </div>
        
    </script>

</div>





