<div data-role="view" data-title="Follow Us"
     data-model="app.viewModels.followUsViewModel"
     data-init="app.viewModels.followUsViewModel.onInit"
     data-transition="fade">
    <div>
        <div style="display:block;text-align:center">
            <a class="fa facebook-info" data-icon="fa-facebook-official" data-role="button">Follow us on Facebook</a>
            <a class="twitter-info"><img src="img/twitter.png" width="24" title="Follow us in Twitter"></a>
        </div>
    </div>
</div>