<div data-role="view" data-title="Location Details"
     data-model="app.viewModels.locDetViewModel"
     data-init="app.viewModels.locDetViewModel.onInit"
     data-show="app.viewModels.locDetViewModel.onBeforeShow"
     data-hide="app.viewModels.locDetViewModel.onHide"
     data-layout="back-layout"
     data-transition="fade">

    <div>
        <ul data-role="listview" data-style="inset">
            <li class="header">
                <label>Location Details</label>
            </li>
        </ul>
        <ul id="locDetailView" style="margin-top:-16px"data-role="listview" data-style="inset"></ul>
        <ul data-role="listview" data-style="inset">
            <li class="header">
                <label>Stock Data</label>
            </li>
        </ul>
        <ul id="locStockView" style="margin-top:-16px" data-role="listview" data-style="inset"></ul>

        <script type="text/x-kendo-template" id="locDetailTemplate">
            <div>
                <label class="width-130 inline">Location:</label>
                <div>#: Loc_Id1 #</div>
            </div>
            <div>
                <label class="width-130 inline">Name:</label>
                <div class="title">#: Name#</div>
            </div>

            <div>
                <label class="width-130 inline">Address:</label>
                <div>#: FormattedAddress#</div>
            </div>
            <div>
                <label class="width-90 inline">Phones:</label>
                <div class="title">#Phone#</div>
            </div>
        </script>
        <script type="text/x-kendo-template" id="locStockTemplate">
            <div>
                <label>#: ShortDescription #:</label>
                <div>#: Quantity # (#: Quantity_Type #)</div>
            </div>
        </script>
    </div>
</div>