<div id="orderDet"
     data-role="view"
     data-style="inset"
     data-init="app.viewModels.orderDetViewModel.onInit"
     data-show="app.viewModels.orderDetViewModel.onBeforeShow"
     data-model="app.viewModels.orderDetViewModel">
    <ul data-role="listview" data-style="inset" class="header">
        <li>
            <label>Header</label>
        </li>
    </ul>
    <ul data-role="listview" data-style="inset">
        <li>
            <div id="orderHeader">
                <div class="ui-grid-a ui-responsive">
                    <div class="ui-block-a">
                        <label>Trans. No.:</label>
                        <div class="inline" data-bind="text: TransNo"></div>
                    </div>
                    <div class="ui-block-b">
                        <label>Trans. Date:</label>
                        <div class="inline" data-bind="text: TransDate"></div>
                    </div>
                </div>
                <div>
                    <label>Status: </label>
                    <div class="inline" data-bind="text: DocStatus"></div>
                </div>
                <br />
                <div>
                    <label class="width-90">Order Total:</label>
                    <div class="inline currency width-90" data-bind="text: OrderAmt"></div>
                    <div class="inline" data-bind="text: CurrencyId"></div>
                </div>
                <div>
                    <label class="width-90">Handling:</label>
                    <div class="inline currency width-90" data-bind="text: Handling"></div>
                    <div class="inline" data-bind="text: CurrencyId"></div>
                </div>
                <div>
                    <label class="width-90">Shipping:</label>
                    <div class="inline currency width-90" data-bind="text: Shipping"></div>
                    <div class="inline" data-bind="text: CurrencyId"></div>
                </div>
                <div>
                    <label class="width-90">Discount:</label>
                    <div class="inline currency width-90" data-bind="text: Discount"></div>
                    <div class="inline" data-bind="text: CurrencyId"></div>
                </div>
                <div>
                    <label class="width-90">Tax:</label>
                    <div class="inline currency width-90" data-bind="text: Tax"></div>
                    <div class="inline" data-bind="text: CurrencyId"></div>
                </div>
                <div>
                    <label class="width-90">Total:</label>
                    <div class="inline currency width-90" data-bind="text: TotalAmt"></div>
                    <div class="inline" data-bind="text: CurrencyId"></div>
                </div>
            </div>
        </li>
    </ul>
    <ul data-role="listview" data-style="inset" class="header">
        <li>
            <label>Lines</label>
        </li>
    </ul>
    <ul id="orderLines"
        data-role="listview" data-style="inset"></ul>
    <div id="pager" class="k-pager-wrap"></div>
    <script type="text/x-kendo-template" id="orderLineTemplate">
        <div><label>Location: </label>#: LocId #</div>
        <div><label>Synonym: </label>#: Synonym #</div>
        <div><label>Qty.: </label>#: OrderQty # (#: UnitId #)</div>
        <div><label>Price: </label>$#: UnitPrice #</div>
        <div><label>Line Total: </label>#: ExtPrice #</div>
    </script>
</div>





