<!-- List view -->

<div id="orderList"
     data-role="view" 
     data-style="inset" 
     data-init="app.viewModels.orderListViewModel.onInit"
     data-show="app.viewModels.orderListViewModel.onBeforeShow"
     data-model="app.viewModels.orderListViewModel">
    <ul id="orderListView" 
        data-role="listview" data-style="inset">
    </ul>
    <div id="pager" class="k-pager-wrap"></div>
    <script type="text/x-kendo-template" id="orderTemplate">
        <a href="views/orderDetView.html?##id=#: Rowid #">
            <div>#: TransNo #</div>
            <div>#: TransDate #</div>
            <div>#: OriginalDoc #</div>
            <div>#: OrderAmt #</div>
        </a>
    </script>
</div>





