<!-- List view -->

<div id="orderList"
     data-role="view" 
     data-style="inset" 
     data-init="app.viewModels.orderListViewModel.onInit"
     data-show="app.viewModels.orderListViewModel.onBeforeShow"
     data-model="app.viewModels.orderListViewModel">
    <ul id="orderListView" 
        data-role="listview" data-style="inset">
    </ul>
    <div id="pager" class="k-pager-wrap"></div>
    <script type="text/x-kendo-template" id="orderTemplate">
        <a href="views/orderLinesListView.html">
            <div>#: TransNo #</div>
            <div>#: TransDate #</div>
            <div><b>Original Doc.: </b>#: OriginalDoc #</div>
            <div><b>Status: </b>#: DocStatus #</div>
            <div><b>Total: </b>#: TotalAmt #</div>
        </a>
    </script>
</div>





