<!-- List view -->

<div id="productList"
     data-role="view"
     data-style="inset"
     data-init="app.viewModels.prodListViewModel.onInit"
     data-show="app.viewModels.prodListViewModel.onBeforeShow"
     data-model="app.viewModels.prodListViewModel">
    <button data-role="button" class="fa scan-button" data-bind="click: scan" data-icon="fa-barcode">Scan</button>
    <ul id="productListView"
        data-role="listview" data-style="inset" class="ui-responsive"></ul>

    <div style="text-align:center">
        <button data-role="button" id="loadMore" data-bind="click: loadMore, visible: moreRecords">Load More</button>
    </div>

    <div id="pager" class="k-pager-wrap"></div>
    <script type="text/x-kendo-template" id="prodTemplate">
        <div style="width: 100%">
            <img style="height:100px" src="#: ImgUrl #" onerror="this.src = app.imageErrorUrl" />
        </div>
        <div style="width:100%">
            <div>#: description #</div>
            <button type="button" data-role="button" name="details" class="fa item-details link" data-icon="fa-info-circle">Details</button>
        </div>
        <div>
            <label>Report Syn.: </label>&nbsp;#: ReportSyn #
        </div>
        <div>
            <label>Manuf. Syn.: </label>&nbsp;#: (ManSyn == '') ? '--' : ManSyn #
        </div>
        <div>
            <label>Price: </label>&nbsp;$#: Price #&nbsp;#: CurrencyId #
        </div>
        <div>
            <label>Default Loc. AFS: </label>&nbsp;#: DefaultAfs # (#: UnitId #)
        </div>
        <div>
            <label>All Loc. AFS: </label>&nbsp;#: Afs # (#: UnitId #)
        </div>
        <div style="width:100%; padding-top:5px" data-rateit-readonly="true" rating-value="#: AvgRating #" class="float-left prod-list-rateit a" data-rateit-starwidth="16" data-rateit-starheight="16" step="1"></div>
        <div class="float-left" style="width:100%">
            <div style="margin-top:3px" class="font-smaller rateit-description float-left">#: AvgRating # out of 5 stars&nbsp;|&nbsp;</div>
            <button data-role="button" name="reviews-link" class="font-smaller link rateit-description">#: TotalReview # customers reviews</button>
        </div>
        <div class="float-left" style="width:100%"><button data-role="button" name="create-review-link" class="font-smaller link">Create you own review</button></div>
        <form>
            <div class="float-left">
                <button data-role="button" name="decrement-qty" style="display: #: BuyDisplay #" data-style="notext"
                        class="fa spin-button spin-button-left" data-icon="fa-minus"></button>
                <input type="number" min="0.0000001" required style="display: #: BuyDisplay #" class="select-on-focus width-50 border-1 relative" name="Quantity"
                       value="1" />
                <button data-role="button" name="increment-qty" style="display: #: BuyDisplay #" data-style="notext"
                        class="fa spin-button spin-button-right" data-icon="fa-plus" style="margin-right:15px"></button>
                <div style="display: #: ShopCartIndicatorDisplay #; color:darkgreen; margin-left: 10px; margin-top: 8px;" class="float-right">
                    <div class="fa link-disable" style="display:inline-block" data-role="button" data-icon="fa-shopping-cart">
                        <span>(#: CartQty #)</span>
                    </div>
                </div>
                <button type="button" data-role="button" style="margin-bottom:10px;display: #: BuyDisplay #" name="addToCart" class="fa"
                        data-icon="fa-shopping-cart">
                    Buy
                </button>
            </div>
        </form>
    </script>

</div>





