<div data-role="view" data-title="Proudct Details"
     data-model="app.viewModels.prodDetViewModel"
     data-init="app.viewModels.prodDetViewModel.onInit"
     data-show="app.viewModels.prodDetViewModel.onBeforeShow"
     data-hide="app.viewModels.prodDetViewModel.onHide"
     data-layout="back-layout"
     data-transition="fade">

    <div>
        <ul id="prodDetailView"
            data-role="listview" data-style="inset"></ul>
        <div class="float-left" style="width:100%">
            <div class="images-info">
                <h4>Images</h4>
                <ul id="prodDetailImageView" data-style="inset" data-role="listview"></ul>
            </div>
            <div class="images-placeholder placeholder">
                <h4>No Images available</h4>
            </div>
        </div>
        <div>
            <div class="locations-info">
                <h4>Locations</h4>
                <ul id="prodDetailLocView"
                    data-role="listview" data-style="inset"></ul>
            </div>
            <div class="locations-placeholder placeholder">
                <h4>No Locations information available</h4>
            </div>
        </div>

    </div>
    <script type="text/x-kendo-template" id="prodDetailTemplate">
        <div>
            <label>Description:</label>
            <div class="inline">#: description#</div>
        </div>
        <div>
            <label>Price:</label>
            <div class="title">$#: Price#</div>
        </div>

        <div>
            <label>Synonym:</label>
            <div class="inline">#: Synonym#</div>
        </div>
        <div>
            <label>All Loc. AFS:</label>
            <div class="title">#: Afs# (#: UnitId #)</div>
        </div>
        <div>
            <label>Report Synonym:</label>
            <div class="inline">#: ReportSyn#</div>
        </div>
        <div>
            <label>Bar Synonym:</label>
            <div class="inline">#: BarSyn#</div>
        </div>
        <div>
            <div data-rateit-readonly="true" rating-value="#: AvgRating #" class="prod-det-rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" step="1"></div>
        </div>
        <div>
            <div style="margin-top:3px" class="rateit-description float-left">#: AvgRating # out of 5 stars&nbsp;|&nbsp;</div>
            <button data-role="button" name="reviews-link" class="font-smaller link rateit-description">#: TotalReview # customers reviews</button>
        </div>
        <button data-role="button" name="create-review-link" class="font-smaller link">Create you own review</button>
    </script>

    <script type="text/x-kendo-template" id="prodDetImageTemplate">
        <li>
            <a href="#: FileUrl #" class="swipebox" title="#: FileDesc #">
                <img src="#: FileUrl #" alt="#: FileDesc #" onerror="this.src = 'http://10.10.51.4:8080/lat/images/noimage.png'">
            </a>
        </li>
    </script>
    <script type="text/x-kendo-template" id="prodDetLocTemplate">
        <form>
            <div><b>Location: </b>#: Loc_Id #</div>            
            <div><b>AFS: </b>#: AFS # (#: UnitId #)</div>
            <div class=""><b>ON_PO: </b>#: ONPO #</div>
            <div class="float-left">
                <label style="margin-top:8px">Quantity:</label>
                <input type="number" min="1" required class="border-1 relative width-70" name="Quantity" value="1"                        />
                <button type="button" data-role="button" name="addToCart" class="fa" data-icon="fa-shopping-cart">Buy</button>
                <button type="button" data-role="button" name="locDetails" class="fa" data-icon="fa-info-circle">Details</button>
            </div>
        </form>
    </script>
</div>
