<div data-role="view" data-title="Proudct Reviews"
     data-model="app.viewModels.prodDetReviewsViewModel"
     data-init="app.viewModels.prodDetReviewsViewModel.onInit"
     data-show="app.viewModels.prodDetReviewsViewModel.onBeforeShow"
     data-hide="app.viewModels.prodDetReviewsViewModel.onHide"
     data-layout="back-layout"
     data-transition="fade">
    <div>
        <ul id="prodDetView" data-role="listview" data-style="inset"></ul>
        <ul id="prodDetReviewsView" data-role="listview" data-style="inset"></ul>        
    </div>
    <script type="text/x-kendo-template" id="prodDetTemplate">
        <div>
            <label>Description:</label>
            <div class="inline">#: description#</div>
        </div>
        <div>
            <label>Synonym:</label>
            <div class="inline">#: Synonym#</div>
        </div>
        <div>
            <div data-rateit-readonly="true" rating-value="#: AvgRating #" class="prod-det-reviews-rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" step="1"></div>
        </div>
        <div style="margin-bottom:5px">
            <div class="rateit-description float-left">#: AvgRating # out of 5 stars&nbsp;|&nbsp;</div>
            <div class="rateit-description">#: TotalReview # customers reviews</div>
        </div>
        <div>
            <label>Filter:</label>
        </div>
        <div class="rating-filter-container" style="padding-top:3px">
            <button data-role="button" name="0-stars-reviews-link" class="link-active float-left">All</button>
            <div class="float-left">&nbsp;|&nbsp;</div>
            <button data-role="button" name="5-stars-reviews-link" class="link float-left">5 stars</button>
            <div class="float-left">&nbsp;|&nbsp;</div>
            <button data-role="button" name="4-stars-reviews-link" class="link float-left">4 stars</button>
            <div class="float-left">&nbsp;|&nbsp;</div>
            <button data-role="button" name="3-stars-reviews-link" class="link float-left">3 stars</button>
            <div class="float-left">&nbsp;|&nbsp;</div>
            <button data-role="button" name="2-stars-reviews-link" class="link float-left">2 stars</button>
            <div class="float-left">&nbsp;|&nbsp;</div>
            <button data-role="button" name="1-stars-reviews-link" class="link">1 stars</button>
        </div>
        <button data-role="button" name="create-review-link" class="link">Create you own review</button>
        <div style="height:150px" id="reviews_graph"></div>
    </script>
    <script type="text/x-kendo-template" id="prodDetReviewTemplate">
        <form>
            <div><b>Customer Id: </b>#: Cust_ID #</div>
            <div data-rateit-readonly="true" rating-value="#: Rating #" class="float-right prod-det-reviews-rateit a" data-rateit-starwidth="16" data-rateit-starheight="16" step="1"></div>
            <div><b>Date: </b>#: Log_date #</div>
            <div>
                <div style="margin-top:5px" class="float-left"><b>Recommended: </b></div>
                <img height="24" src="../img/recommended_#: Recommended #.png" />
            </div>
            <div><b>Comments: </b>#: Review_text #</div>
        </form>
    </script>
</div>
