<!-- List view -->

<div id="productList"
     data-role="view"
     data-style="inset"
     data-init="app.viewModels.prodListViewModel.onInit"
     data-show="app.viewModels.prodListViewModel.onBeforeShow"
     data-model="app.viewModels.prodListViewModel">
    <button data-role="button" class="fa scan-button" data-bind="click: scan" data-icon="fa-barcode">Scan</button>
    <ul id="productListView"
        data-role="listview" data-style="inset"></ul>

    <div style="text-align:center">
        <button data-role="button" id="loadMore" data-bind="click: loadMore, visible: moreRecords">Load More</button>
    </div>

    <div id="pager" class="k-pager-wrap"></div>
    <script type="text/x-kendo-template" id="prodTemplate">
        <div class="prod-list-item-image"><img src="#: ImgUrl #" onerror="this.src = 'http://10.10.51.4:8080/lat/images/noimage.png'" /></div>
        <div class="prod-list-item-details">
            <div class="float-left" style="max-width: 80%">#: description #</div>
            <div class="float-right" style="display: #: ShopCartIndicatorDisplay #; color:darkgreen">
                <div class="fa link-disable" style="display:inline-block" data-role="button" data-icon="fa-shopping-cart">
                    <span>(#: CartQty #)</span>
                </div>
            </div>
            <div class="ui-grid-a ui-responsive float-left" style="width:100%">
                <div class="ui-block-a">
                    <label>Report Syn.: </label>#: ReportSyn #
                </div>
                <div class="ui-block-b">
                    <label>Price: </label>$#: Price #
                </div>
            </div>
            <div class="ui-grid-a ui-responsive float-left" style="width:100%">
                <div class="ui-block-a">
                    <label>Default Loc. AFS: </label> #: DefaultAfs # (#: UnitId #)
                </div>
                <div class="ui-block-b">
                    <label>All Loc. AFS: </label> #: Afs # (#: UnitId #)
                </div>
            </div>
            <div style="width:100%; padding-top:5px" data-rateit-readonly="true" rating-value="#: AvgRating #" class="float-left prod-list-rateit a" data-rateit-starwidth="16" data-rateit-starheight="16" step="1"></div>
            <div class="float-left" style="width:100%">
                <div style="margin-top:3px" class="font-smaller rateit-description float-left">#: AvgRating # out of 5 stars&nbsp;|&nbsp;</div>
                <button data-role="button" name="reviews-link" class="font-smaller link rateit-description">#: TotalReview # customers reviews</button>
            </div>
            <div class="float-left" style="width:100%"><button data-role="button" name="create-review-link" class="font-smaller link">Create you own review</button></div>
            <form>
                <div class="float-left">
                    <button data-role="button" name="decrement-qty" style="display: #: BuyDisplay #" data-style="notext" class="fa" data-icon="fa-minus"></button>
                    <input type="number" min="1" required style="display: #: BuyDisplay #" class="select-on-focus width-70 border-1 relative" name="Quantity"
                           value="1" />
                    <button data-role="button" name="increment-qty" style="display: #: BuyDisplay #" data-style="notext" class="fa" data-icon="fa-plus" style="margin-right:15px"></button>
                    <button type="button" data-role="button" style="display: #: BuyDisplay #" name="addToCart" class="fa" data-icon="fa-shopping-cart">Buy</button>                    
                    <button type="button" data-role="button" name="details" class="fa" data-icon="fa-info-circle">Details</button>
                </div>                
            </form>
        </div>
    </script>

</div>





