<div data-role="view" data-title="Proudct Details"
     data-model="app.viewModels.prodDetViewModel"
     data-init="app.viewModels.prodDetViewModel.onInit"
     data-show="app.viewModels.prodDetViewModel.onBeforeShow"
     data-hide="app.viewModels.prodDetViewModel.onHide"
     data-transition="fade">
    <ul id="prodDetailView"
        data-role="listview" data-style="inset"></ul>
    <ul data-role="listview" data-style="inset" class="header">
        <li>
            <label>Images</label>
        </li>
    </ul>
    <div class="images-info gallery">
        <ul id="prodDetailImageView" data-style="inset" data-role="listview"></ul>
    </div>
    <div class="images-placeholder placeholder">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>No Images available...</label>
            </li>
        </ul>
    </div>
    <ul data-role="listview" data-style="inset" class="header location-header">
        <li>
            <label>Locations</label>
        </li>
    </ul>
    <div class="locations-info">
        <ul id="prodDetailLocView"
            data-role="listview" data-style="inset"></ul>
    </div>
    <div class="locations-placeholder placeholder">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>No Locations information available...</label>
            </li>
        </ul>
    </div>
    <script type="text/x-kendo-template" id="prodDetailTemplate">
        <div class="float-left" style="max-width: 80%">
            <label>Description:</label>
            <div class="inline">#: description#</div>
        </div>
        <div class="float-right" style="display: #: ShopCartIndicatorDisplay #; color:darkgreen">
            <div class="fa link-disable" style="display:inline-block" data-role="button" data-icon="fa-shopping-cart">
                <span class="shopcart-header-info">(#: CartQty #)</span>
            </div>
        </div>
        <div class="float-left" style="width:100%">
            <label>Price:</label>
            <div class="title">$#: Price#</div>
        </div>
        <div class="float-left" style="width:100%">
            <label>Synonym:</label>
            <div class="inline">#: Synonym#</div>
        </div>
        <div class="float-left" style="width:100%">
            <label>All Loc. AFS:</label>
            <div class="title">#: Afs# (#: UnitId #)</div>
        </div>
        <div class="float-left" style="width:100%">
            <label>Report Synonym:</label>
            <div class="inline">#: ReportSyn#</div>
        </div>
        <div class="float-left" style="width:100%">
            <label>Bar Synonym:</label>
            <div class="inline">#: BarSyn#</div>
        </div>
        <div class="float-left" style="width:100%;padding-top:5px">
            <div data-rateit-readonly="true" rating-value="#: AvgRating #" class="prod-det-rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" step="1"></div>
        </div>
        <div class="float-left" style="width:100%">
            <div style="margin-top:3px" class="rateit-description float-left">#: AvgRating # out of 5 stars&nbsp;|&nbsp;</div>
            <button data-role="button" name="reviews-link" class="font-smaller link rateit-description">#: TotalReview # customers reviews</button>
        </div>
        <div class="float-left" style="width:100%">
            <button data-role="button" name="create-review-link" class="font-smaller link">Create you own review</button>
        </div>
    </script>
    <script type="text/x-kendo-template" id="prodDetImageTemplate">
        <a data-role="button" style="height:100%; width:100%;padding:0;margin:0;border:0">
            <img src="#: FileUrl #" alt="#: FileDesc#" style="width:100%; height:100%" onerror="this.src = 'http://10.10.51.4:8080/lat/images/noimage.png'">
        </a>
    </script>
    <script type="text/x-kendo-template" id="prodDetLocTemplate">
        <form>
            <div><b>Location: </b>#: Loc_Id #</div>
            <div><b>AFS: </b>#: AFS # (#: UnitId #)</div>
            <div class=""><b>ON_PO: </b>#: ONPO # (#: UnitId #)</div>
            <div class="float-left">
                <label style="margin-top:8px">Qty.:</label>
                <input type="number" min="1" required class="border-1 relative width-70" name="quantity" value="1" />
                <button type="button" data-role="button" name="addToCart" class="fa" data-icon="fa-shopping-cart">Buy</button>
                <button type="button" data-role="button" name="locDetails" class="fa" data-icon="fa-info-circle">Details</button>
            </div>
        </form>
    </script>
</div>
