<div id="shopcartDet"
     data-role="view"
     data-style="inset"
     data-init="app.viewModels.shopcartDetViewModel.onInit"
     data-show="app.viewModels.shopcartDetViewModel.onBeforeShow"
     data-model="app.viewModels.shopcartDetViewModel">
    <div class="shopcart-info">
        <ul data-role="listview" data-style="inset" class="header">
            <li>
                <div style="display:block">
                    <label style="margin-top:8px;" class="float-left">Summary</label>
                    <button data-role="button" class="fa float-right" data-bind="click: placeOrder" data-icon="fa-check">
                        Place Order
                    </button>
                </div>
            </li>
        </ul>
        <ul id="shopcartHeader" data-role="listview" data-style="inset"></ul>
        <ul data-role="listview" data-style="inset" class="header">
            <li>
                <label>Lines</label>
            </li>
        </ul>
        <ul id="shopcartLines" data-role="listview" data-style="inset"></ul>
        <ul data-role="listview" data-style="inset">
            <li class="header">
                <button data-role="button" class="fa float-right" style="margin-right:.7em"
                        data-bind="click: placeOrder" data-icon="fa-check">
                    Place Order
                </button>
            </li>
        </ul>
    </div>
    <div class="shopcart-placeholder placeholder align-center">
        <h4>Shopping cart is empty</h4>
    </div>
    <div id="pager" class="k-pager-wrap"></div>
    <script type="text/x-kendo-template" id="shopcartHeaderTemplate">
        <div>
            <button class="fa float-right"
                    data-role="button" name="notes"
                    data-icon="#: NotesIcon #">
                Notes
            </button>
            <label class="width-90">Order Total:</label>#: OrderAmt #&nbsp;#: CurrencyId #
        </div>
        <div>
            <label class="width-90">Handling:</label>#: Handling #&nbsp;#: CurrencyId #
        </div>
        <div>
            <label class="width-90">Shipping:</label>#: Shipping #&nbsp;#: CurrencyId #
        </div>
        <div>
            <label class="width-90">Discount:</label>#: Discount #&nbsp;#: CurrencyId #
        </div>
        <div>
            <label class="width-90">Tax:</label>#: Tax #&nbsp;#: CurrencyId #
        </div>
        <div>
            <label class="width-90">Total:</label>#: TotalAmt #&nbsp;#: CurrencyId #
        </div>
    </script>
    <script type="text/x-kendo-template" id="shopcartLineTemplate">
        <form>
            <div><b>Synonym: </b>#: Synonym #</div>
            <div><b>Location: </b>#: LocId #</div>
            <div><b>AFS: </b>#: AFS # (#: UnitId #)</div>
            <div>
                <label style="margin-top:8px">Qty.:</label>
                <input type="number" min="1" name="quantity" required class="border-1 relative width-70"
                       value="#: OrderQty #" />
                <button type="button" data-role="button" name="update-line" data-afs="#: AFS #" class="fa" data-icon="fa-pencil">Update</button>
                <button type="button" data-role="button" name="delete-line" class="fa" data-icon="fa-trash-o">Remove</button>
            </div>
            <div><b>Price: </b>$#: UnitPrice # #: CurrencyId #</div>
            <div><b>Line Total: </b>$#: ExtPrice # #: CurrencyId #</div>
        </form>
    </script>
</div>





