<div id="shopcartNotes"
     data-role="view"
     data-style="inset"
     data-init="app.viewModels.shopcartNoteDetViewModel.onInit"
     data-show="app.viewModels.shopcartNoteDetViewModel.onBeforeShow"
     data-model="app.viewModels.shopcartNoteDetViewModel">
    <div class="shopcart-info">
        <ul data-role="listview" data-style="inset" class="header">
            <li>
                <label>Summary</label>
            </li>
        </ul>
        <ul data-role="listview" data-style="inset">
            <li>
                <div id="shopcartNotesHeader">
                    <div>
                        <label class="width-90">Order Total:</label>
                        <div class="inline currency width-90" data-bind="text: OrderAmt"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                    <div>
                        <label class="width-90">Handling:</label>
                        <div class="inline currency width-90" data-bind="text: Handling"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                    <div>
                        <label class="width-90">Shipping:</label>
                        <div class="inline currency width-90" data-bind="text: Shipping"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                    <div>
                        <label class="width-90">Discount:</label>
                        <div class="inline currency width-90" data-bind="text: Discount"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                    <div>
                        <label class="width-90">Tax:</label>
                        <div class="inline currency width-90" data-bind="text: Tax"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                    <div>
                        <label class="width-90">Total:</label>
                        <div class="inline currency width-90" data-bind="text: TotalAmt"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <ul data-role="listview" data-style="inset" class="header">
            <li>
                <label>Note Details</label>
            </li>
        </ul>
        <div>
            <ul data-role="listview" data-style="inset" id="noteDetails">
                <li style="padding:8px; height:70px">
                    <label style="margin-top:15px">
                        Note ID:
                        <select id="dropdownbound" style="right:auto;left:90px" class="border-1" data-role="dropdownlist" data-bind="source: noteIdList, value: noteId"></select>
                    </label>
                </li>
                <li>
                    <textarea style="width:100%" rows="4" class="border-1 float-left" name="noteText" id="noteText" data-bind="value: noteText"></textarea>
                </li>
                <li>
                    <a data-bind="click: cancel" data-role="button" class="fa float-right" data-icon="fa-step-backward">Cancel</a>
                    <a data-bind="click: saveNotes" data-role="button" class="fa float-right" data-icon="fa-floppy-o">Save</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="pager" class="k-pager-wrap"></div>

</div>



