<div id="shopcartDet"
     data-role="view"
     data-style="inset"
     data-init="app.viewModels.shopcartDetViewModel.onInit"
     data-show="app.viewModels.shopcartDetViewModel.onShow"
     data-before-hide="app.viewModels.shopcartDetViewModel.onBeforeHide"
     data-model="app.viewModels.shopcartDetViewModel">
    <div class="shopcart-info">
        <ul data-role="listview" data-style="inset" class="header">
            <li>
                <div style="display:block">
                    <label style="margin-top:8px;" class="float-left">Summary</label>
                    <button data-role="button" class="place-order fa float-right" data-bind="click: placeOrder" data-icon="fa-check">
                        Place Order
                    </button>
                </div>
            </li>
        </ul>
        <ul id="shopcartHeader" data-role="listview" data-style="inset"></ul>
        <div style="text-align:right; padding-right:.7em">
            <button class="fa" data-role="button" data-icon="fa-plus" data-bind="click: addNotes">Add Note</button>
        </div>
        <div data-role="collapsible" data-animation="false" class="fa padding-0 shopcart-notes-collapsible"
             id="shopcart-notes-collapsible"
             data-icon-position="right" data-expand-icon="fa-arrow-circle-down"
             data-collapse-icon="fa-arrow-circle-up">
            <h4>
                Notes
            </h4>
            <ul id="shopcartNotes" style="margin:0" data-role="listview" data-style="inset"></ul>
        </div>
        <ul data-role="listview" data-style="inset" class="header">
            <li>
                <label>Lines</label>
            </li>
        </ul>
        <ul id="shopcartLines" data-role="listview" data-style="inset"></ul>
        <div class="lines-placeholder placeholder">
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>No Lines in the Shopping Cart...</label>
                </li>
            </ul>
        </div>
        <ul class="place-order" data-role="listview" data-style="inset">
            <li class="header">
                <button data-role="button" class="fa float-right" style="margin-right:.7em"
                        data-bind="click: placeOrder" data-icon="fa-check">
                    Place Order
                </button>
            </li>
        </ul>
    </div>
    <div class="shopcart-placeholder placeholder align-center">
        <h4>Shopping cart is empty</h4>
    </div>
    <div id="pager" class="k-pager-wrap"></div>
    <script type="text/x-kendo-template" id="shopcartHeaderTemplate">
        <div style="background-color:\\#f4f4f4;margin:-9px;padding:9px;">
            <div>
                <b>Customer: </b>#: CustId #
            </div>
            <div>
                <b>Cust. PO: </b>#: CustPO #
            </div>
            <div>
                <b>Carrier: </b>#: CarrierId #
            </div>
            <div style="display:table; width:100%">
                <div style="display:table-cell; vertical-align:top">
                    <b>Request Date: </b>#: RequestDate #
                </div>
                <div style="display:table-cell;width:80px">
                    <button type="button" data-role="button" name="update-shopcart" class="fa float-right" data-icon="fa-pencil">Edit</button>
                </div>
            </div>
        </div>
        <br />
        <div class="ui-grid-a ui-responsive">
            <div class="ui-block-a">
                <div>
                    <label class="amount-label-width">Order Amount:</label>
                    <div class="amount-width inline currency">
                        #: OrderAmt #&nbsp;#: CurrencyId #
                    </div>
                </div>
                <div>
                    <label class="amount-label-width">Shipping:</label>
                    <div class="amount-width inline currency">
                        #: Shipping #&nbsp;#: CurrencyId #
                    </div>
                </div>
                <div>
                    <label class="amount-label-width">Handling:</label>
                    <div class="amount-width inline currency">
                        #: Handling #&nbsp;#: CurrencyId #
                    </div>
                </div>
                <div>
                    <label class="amount-label-width">Minumum Charge:</label>
                    <div class="amount-width inline currency">
                        #: MinCharge #&nbsp;#: CurrencyId #
                    </div>
                </div>
                <div>
                    <label class="amount-label-width">Discount:</label>
                    <div class="amount-width inline currency">
                        #: AbsoluteDiscount #&nbsp;#: CurrencyId #
                    </div>
                    <div class="inline" style="font-style:italic; color:darkgreen; font-weight:bold">
                        (CR)
                    </div>
                </div>
            </div>
            <div class="ui-block-b">
                <div>
                    <label class="amount-label-width">Surcharge:</label>
                    <div class="amount-width inline currency">
                        #: SurCharge #&nbsp;#: CurrencyId #
                    </div>
                </div>
                <div>
                    <label class="amount-label-width">Net Order Amount:</label>
                    <div class="amount-width inline currency">
                        #: SubTotal #&nbsp;#: CurrencyId #
                    </div>
                </div>
                <div>
                    <label class="amount-label-width">Fixed Charge:</label>
                    <div class="amount-width inline currency">
                        #: Handling #&nbsp;#: CurrencyId #
                    </div>
                </div>
                <div>
                    <label class="amount-label-width">Tax Amount:</label>
                    <div class="amount-width inline currency">
                        #: Tax #&nbsp;#: CurrencyId #
                    </div>
                </div>
                <div>
                    <label class="amount-label-width">Total:</label>
                    <div class="amount-width inline currency">
                        #: TotalAmt #&nbsp;#: CurrencyId #
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-kendo-template" id="shopcartNoteTemplate">
        <form>
            <div><b>Note Id: </b>#: NoteId #</div>
            <div><b>Note: </b>#: NoteText #</div>
            <div class="float-right">
                <button type="button" data-role="button" name="update-note" class="fa" data-icon="fa-pencil">Edit</button>
                <button type="button" data-role="button" name="delete-note" class="fa" data-icon="fa-trash-o">Remove</button>
            </div>
        </form>
    </script>
    <script type="text/x-kendo-template" id="shopcartLineTemplate">
        <form>
            <div>#: ProdDesc #</div>
            <div><b>Synonym: </b>#: Synonym #</div>
            <div><b>Location: </b>#: LocId #</div>
            <div><b>AFS: </b><span class="line-afs">#: AFS #</span> (#: UnitId #)</div>
            <div>
                <button data-role="button" name="decrement-qty" data-style="notext"
                        class="fa spin-button spin-button-left" data-icon="fa-minus"></button>
                <input type="number" min="0.0000001" name="Quantity" required class="input-qty select-on-focus border-1 relative width-50"
                       value="#: OrderQty #" data-last-value="#: OrderQty #" data-original-value="#: OrderQty #" data-original-afs="#: AFS #" />
                <button data-role="button" name="increment-qty" data-style="notext"
                        class="fa spin-button spin-button-right" data-icon="fa-plus" style="margin-right:15px"></button>
                <button type="button" data-role="button" name="update-line" disabled data-afs="#: AFS #" data-style="notext" class="fa update-line" data-icon="fa-floppy-o"></button>
                <button type="button" data-role="button" name="delete-line" data-style="notext" class="fa" data-icon="fa-trash-o"></button>
            </div>
            <div><b>Price: </b>$#: UnitPrice # #: CurrencyId #</div>
            <div><b>Line Total: </b>$#: ExtPrice # #: CurrencyId #</div>
        </form>
    </script>
</div>





