<div id="shopcartDet"
     data-role="view"
     data-style="inset"
     data-init="app.viewModels.shopcartDetViewModel.onInit"
     data-show="app.viewModels.shopcartDetViewModel.onBeforeShow"
     data-model="app.viewModels.shopcartDetViewModel">
    <div class="shopcart-info">
        <ul data-role="listview" data-style="inset">
            <li class="header">
                <div style="display:block">
                    <label style="margin-top:8px;" class="float-left">Summary</label>
                    <button data-role="button" class="fa float-right" data-bind="click: placeOrder" data-icon="fa-check">
                        Place Order
                    </button>
                </div>
            </li>
            <li>
                <div id="shopcartHeader">
                    <div>
                        <button data-click="app.viewModels.shopcartDetViewModel.shopcartNotes" class="fa float-right" data-role="button"
                           data-icon="fa-sticky-note-o">Notes</button>
                        <label class="width-90">Order Total:</label>
                        <div class="inline currency width-90" data-bind="text: OrderAmt"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                    <div>
                        <label class="width-90">Handling:</label>
                        <div class="inline currency width-90" data-bind="text: Handling"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                    <div>
                        <label class="width-90">Shipping:</label>
                        <div class="inline currency width-90" data-bind="text: Shipping"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                    <div>
                        <label class="width-90">Discount:</label>
                        <div class="inline currency width-90" data-bind="text: Discount"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                    <div>
                        <label class="width-90">Tax:</label>
                        <div class="inline currency width-90" data-bind="text: Tax"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                    <div>
                        <label class="width-90">Total:</label>
                        <div class="inline currency width-90" data-bind="text: TotalAmt"></div>
                        <div class="inline" data-bind="text: CurrencyId"></div>
                    </div>
                </div>
            </li>
        </ul>
        <ul data-role="listview" data-style="inset">
            <li class="header">
                <label>Lines</label>
            </li>
        </ul>
        <ul id="shopcartLines" style="margin-top:-16px"
            data-role="listview" data-style="inset"></ul>
        <ul data-role="listview" data-style="inset">
            <li class="header">
                <button data-role="button" class="fa float-right" style="margin-right:.7em"
                        data-bind="click: placeOrder" data-icon="fa-check">
                    Place Order
                </button>
            </li>
        </ul>
    </div>
    <div class="shopcart-placeholder placeholder align-center">
        <h4>Shopping cart is empty</h4>
    </div>
    <div id="pager" class="k-pager-wrap"></div>
    <script type="text/x-kendo-template" id="shopcartLineTemplate">
        <form>
            <div><b>Synonym: </b>#: Synonym #</div>
            <div><b>Location: </b>#: LocId #</div>
            <div><b>AFS: </b>#: AFS # (#: UnitId #)</div>
            <div>
                <label style="margin-top:8px">Qty.:</label>
                <input type="number" min="1" name="quantity" required class="border-1 relative width-70"
                       value="#: OrderQty #" />
                <button type="button" data-role="button" name="update-line" data-afs="#: AFS #" class="fa" data-icon="fa-pencil">Update</button>
                <button type="button" data-role="button" name="delete-line" class="fa" data-icon="fa-trash-o">Remove</button>
            </div>
            <div><b>Price: </b>$#: UnitPrice # #: CurrencyId #</div>
            <div><b>Line Total: </b>$#: ExtPrice # #: CurrencyId #</div>
        </form>
    </script>
</div>





